.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.side-left,
.side-right {
  background: ghostwhite;
  flex-basis: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.hidden {
  opacity: 0;
}

.main h2 {
  text-align: center;
}


@media only screen and (min-width: 1200px) {
  .App {
    flex-direction: row;
  }
}